{
	"presets": ["@babel/preset-env"],
	/*类库或者组件库配置项*/
	"plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": 3,
        "helpers": true,
        "regenerator": true,
        "useESModules": false,
        "version": "^7.9.0"
      }
    ]
  ]
}
